.listItem {
  width: 80vw;
  height: 20vh;
  font-size: 12px;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 1px solid black;
}

.top {
  display: flex;
}

.top h2 {
  margin-left: 20px;
  font-size: 17px;
  font-weight: 600;
}

.bottom {
  display: flex;
  position: absolute;
  bottom: 10px;
}

.bottom p {
  margin: 0 10px;
}

.comment {
  position: absolute;
  right: 0;
  top: 50%;
}